<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Guestbook_memcache</servlet-name>
		<servlet-class>guestbook_memcached.Guestbook_memcacheServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Guestbook_memcache</servlet-name>
		<url-pattern>/guestbook_memcache</url-pattern>
	</servlet-mapping>
	
	<servlet>
        <servlet-name>sign</servlet-name>
        <servlet-class>guestbook_memcached.SignGuestbookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sign</servlet-name>
        <url-pattern>/sign</url-pattern>
    </servlet-mapping>
    
     <servlet-mapping>
        <servlet-name>deleteEntry</servlet-name>
        <url-pattern>/deleteEntry</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>deleteEntry</servlet-name>
        <servlet-class>guestbook_memcached.DeleteServlet</servlet-class>
    </servlet>
    
    
	
	<welcome-file-list>
		<welcome-file>guestbook.jsp</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>